/**
 * @file
 * General tweaks and workarounds to integrate ANU web styles with Drupal.
 */

/* Fixes explore bar search box. */
#explore label {
  display: inline;
  font-weight: normal;
}

/* Fixes search box line breaking. */
#menu .search-box label,
.search-boxes .search-form label {
  display: inline-block;
  font-weight: inherit;
}

/* Fixes linked menu block title. */
#menu .block {
  clear: both;
}
div.menu-flat p.block-title.linked {
  padding: 0;
  font-size: inherit;
}
div.menu-flat p.block-title.linked a {
  line-height: inherit;
  padding: 5px 10px;
  border-left: none;
}

/* Fixes contextual links. */
div.menu-flat a.contextual-links-trigger {
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  display: none;
  margin: 0;
  padding: 0 2px;
  font-size: inherit;
  line-height: inherit;
  z-index: 1;
  position: relative;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
div.menu-flat a.contextual-links-trigger-active {
  display: block;
}
div.menu-flat .contextual-links-active a.contextual-links-trigger {
  background-color: #fff;
  border-color: #ccc;
  border-bottom: none;
}
div.menu-flat .contextual-links-wrapper li {
  border: none;
}
div.menu-flat ul.contextual-links li a {
  padding: 0.25em 1em 0.25em 0.5em;
  border: none;
  font-size: inherit;
}

/* Removes underline for contextual links. */
.contextual-links-wrapper ul.contextual-links a:hover {
  text-decoration: none;
}
